@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "MoskauGrotesk", sans-serif;
  }
  #root{
    @apply mx-auto container
  }
}

@layer components{
  .span-text--bold{
    font-family: "MoskauGrotesk-Medium", sans-serif;
  }
  .menu-link{
    @apply relative px-[2.125rem] py-[2rem]
  }
  .menu-hover{
    @apply absolute border-b border-white 
    bottom-[-1px]
    w-[calc(100%-4.25rem)] z-40 transition-all scale-0 duration-300 origin-left
  }
  .animated-text{
    /* position: absolute; */
    /* top:50%; */
    /* left: 50%; */
    transform: translateY(-2%);
    /* padding: 0 50px; */
    /* height: 120px; */
  }

  .line{
    /* line-height: 60px; */
  }

  .line:first-chil{
    animation: anim 12s ease-in 1;
  }

  @keyframes anim {
    0%{
      margin-top: 0px
    }
    50%{
      margin-top: -31rem;
    }
    100%{
      margin-top: -71rem;
    }
  }

  /* revoir les reglèes de animation pour ajuster les délai */
  #introFirst3{
    animation: anim2 10s 2s ease-in-out 1, fadeOut 2s 3s ease-in-out 1;
    animation-fill-mode: forwards; 

  }

  #introSecond3{
    animation : fadeIn 6s 3s ease-in-out 1, fadeOut 2s 7s ease-in-out 1
  }

  #introThird3{
    animation : fadeIn 6s 7s ease-in-out 1;
  } 

  .container-text-fadeOut{
    overflow: hidden;
  }


  @keyframes fadeOut {
    0%{
      opacity:1;
    }
    100%{
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0%{
      opacity:0;
    }
    50%{
      opacity:1;
    }
    100%{
      opacity:1;
    }
  }

  @keyframes anim2 {
    0%{
      margin-top: 0px;
    }
    30%{
      margin-top: -52rem;
    }
    50%{
      margin-top: -52rem;
    }
    80%{
      margin-top: -102rem;
    }
    100%{
      margin-top: -102rem;
    }
  }

}

/* @keyframes anim {
  0%{
    margin-top: -0px;
  }
  25%{
    margin-top: -120px;
  }
  50%{
    margin-top: -240px;
  }
  75%{
    margin-top: -120px;
  }
  100%{
    margin-top: -60px;
  }
} */