@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "MoskauGrotesk", sans-serif;
  }
  #root{
    @apply mx-auto container
  }
}

@layer components{
  .span-text--bold{
    font-family: "MoskauGrotesk-Medium", sans-serif;
  }
  .menu-link{
    @apply relative px-[2.125rem] py-[2rem]
  }
  .menu-hover{
    @apply absolute border-b border-white 
    bottom-[-1px]
    w-[calc(100%-4.25rem)] z-40 transition-all scale-0 duration-300 origin-left
  }

  .line:first-child{
    animation: anim 12s ease-in 1;
  }

  @keyframes anim {
    0%{
      margin-top: 0px
    }
    50%{
      margin-top: -31rem;
    }
    100%{
      margin-top: -71rem;
    }
  }

  .container-fadeOut{
    overflow: hidden;
  }

  #introFirst3{
    animation: anim2 10s 2s ease-in-out 1, fadeOut 2s 3s ease-in-out 1;
    animation-fill-mode: forwards; 
  }

  #introSecond3{
    animation : fadeIn 6s 3s ease-in-out 1, fadeOut 2s 7s ease-in-out 1
  }

  #introThird3{
    animation : fadeIn 6s 7s ease-in-out 1;
  } 

  @keyframes fadeOut {
    0%{
      opacity:1;
    }
    100%{
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0%{
      opacity:0;
    }
    50%{
      opacity:1;
    }
    100%{
      opacity:1;
    }
  }

  @keyframes anim2 {
    0%{
      margin-top: 0px;
    }
    30%{
      margin-top: -52rem;
    }
    50%{
      margin-top: -52rem;
    }
    80%{
      margin-top: -102rem;
    }
    100%{
      margin-top: -102rem;
    }
  }
  #introImgFirst3{
    animation: anim3 10s 2s ease-in-out 1, fadeOut 2s 3s ease-in-out 1; 
    animation-fill-mode: forwards;
  }

  @keyframes anim3 {
    0%{
      margin-top: 0px;
    }
    30%{
      margin-top: -210px;
      opacity: 0;
    }
    100%{ 
      margin-top: -210px;
      opacity: 0;
    }
  }
  #introImgSecond3{
    animation: anim4 10s 2s ease-in-out 1;
    animation-fill-mode: forwards;
  }

  @keyframes anim4 {
    0%{
      margin-top: 0px;
      scale: 26.5%;
      top: 85px;
      left:80px;
    }
    30%{
      margin-top: -210px;
      opacity: 1;
      scale: 26.5%;
      top: 85px;
      left:80px;
    }
    50%{
      margin-top: -210px;
      opacity: 1;
      scale: 26.5%;
      top: 85px;
      left:80px;
    }
    80%{
      margin-top: 0px;
      opacity: 1;
      scale: 70%;
      top: 23px;
      left:80px;

    }
    100%{
      margin-top: 0px;
      opacity: 1;
      scale: 70%;
      top: 23px;
      left:80px;
    }
  }
}
